

.map-container{
  overflow:hidden;
  /* padding-bottom:5%; */
  position:relative;
  height:0;
  }
  .map-container iframe{
  left:0;
  top:0;
  height:60%;
  width:100%;
  position:absolute;
  margin-top: 27px;
  }
  
.boxes-btn-new:hover{
color: black;

  }